*__pycache__
*.pyc
vscode/
.vscode/*

ErrorLog.txt
todo.md
test_notebook.ipynb
_installation/SDK/*
_installation/miniconda.exe
_installation/spinview/spinnakerSDK.exe
config/camera_configs.json
test/SLEAP/models/
test/SLEAP/video/

.DS_Store
